.full-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: nowraps;
  zoom:80%
}

.game-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.game {
  margin-left: -300px;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
}

.game-row{
  width: 190%;
}

.title{
  font-size: 80px;
  font-weight: 600;
  color:rgb(247, 227, 255);
  align-items: center;
  justify-content: center;
  position: relative;
}

.status-container{
  justify-content:center;
  align-items: center;
  position: relative;
  margin-left: 150px;
  padding-right: 30px;
}

.status{
  font-size: 50px;
  font-weight: 400;
  color: rgb(247, 227, 255);
}

.game-row:after {
    clear: both;
    content: "";
    display: table;
  }

  button:hover {
    cursor: pointer;
  }

  
  .button-container{
    justify-content: center;
    align-items: center;
    padding-left: 8.7vw;
    padding-top: 0.2vw;
  }

  .reset {

    padding: 30px 35px;
    color: rgb(247, 227, 255);
    font-size: 25px;
    background-color: #002f61;
    border-color: #b0d6ff;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .reset:active {
    color: #000000;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .reset:hover {
    color: #000000;
    background-color: #d2e8ff;
    border-color: #0062cc;
  }
  
  .reset:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
  }