.game-container {
  width:100%;
  margin-left: 30vw;
  margin-top: 10vw;
  position: fixed;
}

.game {
  padding-left: 10px;
  padding-right: 10px;

}

.status{
  padding-left: 4vw;
  font-size: 50px;
  font-weight: 400;
  color: #002f61;
}

.game-row:after {
    clear: both;
    content: "";
    display: table;
  }

  button:hover {
    cursor: pointer;
  }
  .status, .reset {
    margin-top: 10px;
  }
  

  .reset {
    padding: 30px 35px;
    color: #fff;
    font-size: 25px;
    background-color: #002f61;
    border-color: #b0d6ff;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .reset:active {
    color: #000000;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .reset:hover {
    color: #000000;
    background-color: #d2e8ff;
    border-color: #0062cc;
  }
  
  .reset:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
  }